:root {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	line-height: 1.75;
	overflow-wrap: break-word;
	scroll-behavior: smooth;
	tab-size: 4;
}

*,
:after,
:before {
	background-repeat: no-repeat;
	box-sizing: border-box;
}
:after,
:before {
	text-decoration: inherit;
	vertical-align: inherit;
}

body {
	background: var(--color-bg);
	display: grid;
	place-items: center;
	font-size: var(--text-base);
	text-align: center;
}

h1 {
	font-family: 'Unbounded', 'Unbounded-fallback', sans-serif;
}

// p {
// 	font-family: 'IBM Plex Mono', 'IBM Plex Mono-fallback';
// }

.glow {
	text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}

footer {
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul li {
	display: inline-block;
	min-width: 5em;
}

[aria-busy='true'] {
	cursor: progress;
}
[aria-controls] {
	cursor: pointer;
}
[aria-disabled='true'],
[disabled] {
	cursor: not-allowed;
}
[aria-hidden='false'][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
