---
// import { BackgroundPicture } from "astro-imagetools/components"
import '../styles/main.scss'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import Head from '../components/BaseHead.astro'

export interface Props {
	description?: string
	title?: string
}

// const { title = { SITE_TITLE }, description = { SITE_DESCRIPTION } } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<!-- <BackgroundPicture
		src="/bg.avif"
		decoding="async"
		loading="lazy"
		preload="avif"
		breakpoints={{ count: 3, minWidth: 300, maxWidth: 1024 }}
		sizes={(breakpoints) => {
			const maxWidth = breakpoints[breakpoints.length - 1];
			return `(min-width: ${maxWidth}px) ${maxWidth}px, 100vw`;
		}}
	/> -->
	<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<slot />
		<style lang="scss">
			body {
				background: var(--color-bg);
				font-size: var(--text-base);
				line-height: 1.75;
				text-align: center;
			}
		</style>
		<script>
			// define a function that sets min-height of my-element to window.innerHeight:
			const setHeight = () => {
					document.getElementById("my-element").style.minHeight = window.innerHeight + "px"
			};

			// define mobile screen size:
			let deviceWidth = window.matchMedia("(max-width: 1024px)");

			if (deviceWidth.matches) {
			// set an event listener that detects when innerHeight changes:
					window.addEventListener("resize", setHeight);

			// call the function once to set initial height:
					setHeight();
			}
		</script>
	</body>
</html>
